@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    h1, h5, h6, p, h2, h4 {
        color: #17202A;
    }

    h3 {
        color: #154360;
    }
</style>

<h1>Domestic Cricket page</h1>

<img src="~/img/bcci.jpg" class="img-fluid" alt="Responsive image" style="height:300px ; width:100%">
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <center><h1 class="display-4">Domestic Cricket</h1></center>
        <center>
            <h4 class="lead font-italic">
                Live Sports Website for Domestic competitions in India include the Ranji Trophy, the Duleep Trophy, the Vijay Hazare Trophy, the Deodhar Trophy, the Irani Trophy and the NKP Salve Challenger Trophy..
            </h4>
        </center>
    </div>
</div>


<h1 class="text-center p-3">Live Scores</h1>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/img/bccilogo.jpg" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Bengal vs Baroda</h3>
                    <h4 class="card-title">RANJI TROPHY</h4>
                    <h5 class="card-title">Bengal  275/5(50)</h5>
                    <h5 class="card-title">Baroda  213(37.4)</h5>
                    @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    <a href="#" class="btn btn-primary">Watch Live</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/img/bccilogo.jpg" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Gujarat vs Sikkim</h3>
                    <h4 class="card-title">RANJI TROPHY</h4>
                    <h5 class="card-title">Gujarat  287/5(48)</h5>
                    <h5 class="card-title">Sikkim 275/7(50)</h5>
                    @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    <a href="#" class="btn btn-primary">Watch Live</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/img/bccilogo.jpg" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Delhi vs Bihar</h3>
                    <h4 class="card-title">RANJI TROPHY</h4>
                    <h5 class="card-title">Delhi  275/4(50)</h5>
                    <h5 class="card-title">Bihar  240/8(50)</h5>
                    @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    <a href="#" class="btn btn-primary"> Watch Live</a>
                </div>
            </div>
        </div>

    </div>

</div>


<div class="container">
    <h2 class="text-center p-3">Latest Stories</h2>
</div>

<div class="container mt-1">

    <div class="card mb-1">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="~/img/Cheteshwar-Pujara-and-Ajinkya-Rahane.webp" class="img-fluid" alt="...">
            </div>
            <div class="col-md-8 align-content-lg-start">
                <div class="card-body">
                    <h5 class="card-title text-muted">Ranji Trophy</h5>
                    <p class="card-text font-weight-bold">Ranji Trophy 2021/22, Elite Group D: MUM vs SAU Dream11 Prediction, Fantasy Cricket Tips, Playing 11, Pitch Report and Injury Update</p>
                    @*<p class="card-text"><small class="text-muted"></small></p>*@
                    <a href="https://www.crictracker.com/ranji-trophy-2021-22-elite-group-d-mum-vs-sau-dream11-prediction-fantasy-cricket-tips-playing-11-pitch-report-and-injury-update/">
                        Watch full Story
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-1">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="~/img/2news.webp" class="img-fluid" alt="...">
            </div>
            <div class="col-md-8 align-content-lg-start">
                <div class="card-body">
                    <h5 class="card-title text-muted">CSA T20 Challenge</h5>
                    <p class="card-text font-weight-bold">CSA T20 Challenge 2021/22, Match 18: WAR vs ROC Dream11 Prediction, Fantasy Cricket Tips, Playing 11, Pitch Report and Injury Update</p>
                    @*<p class="card-text"><small class="text-muted"></small></p>*@
                    <a href="https://www.crictracker.com/csa-t20-challenge-2021-22-match-18-war-vs-roc-dream11-prediction-fantasy-cricket-tips-playing-11-pitch-report-and-injury-update/">
                        Watch full Story
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-1">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="~/img/batball.jpg" class="img-fluid" alt="...">
            </div>
            <div class="col-md-8 align-content-lg-start">
                <div class="card-body">
                    <h5 class="card-title text-muted">Bengal Women’s T20 Match</h5>
                    <p class="card-text font-weight-bold">Bengal Women’s T20 Blast 2022, Match 19: TOC-W vs KAC-W Dream11 Prediction, Fantasy Cricket Tips, Playing 11, Pitch Report and Injury Update</p>
                    @*<p class="card-text"><small class="text-muted"></small></p>*@
                    <a href="https://www.crictracker.com/csa-t20-challenge-2021-22-match-18-war-vs-roc-dream11-prediction-fantasy-cricket-tips-playing-11-pitch-report-and-injury-update/ ">
                        Watch full Story
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="card mb-1">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="~/img/stad.jpg" class="img-fluid" alt="...">
            </div>
            <div class="col-md-8 align-content-lg-start">
                <div class="card-body">
                    <h5 class="card-title text-muted">Sharjah CBFS T10 2022</h5>
                    <p class="card-text font-weight-bold">Sharjah CBFS T10 2022, Match 15: QUD vs AAD Dream11 Prediction, Fantasy Cricket Tips, Playing 11, Pitch Report and Injury Update</p>
                    @*<p class="card-text"><small class="text-muted"></small></p>*@
                    <a href="https://www.crictracker.com/csa-t20-challenge-2021-22-match-18-war-vs-roc-dream11-prediction-fantasy-cricket-tips-playing-11-pitch-report-and-injury-update/">
                        Watch full Story
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="card mb-1">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="~/img/f6.png" class="img-fluid" alt="...">
            </div>
            <div class="col-md-8 align-content-lg-start">
                <div class="card-body">
                    <h5 class="card-title">PREMIER LEAGUE</h5>
                    <p class="card-text font-weight-bold">NORWICH 0-4 MANCHESTER CITY: REHEEM STERLING NETS HAT-TRICK AS CITY SWEEP CANARIES ASIDE TO RESTORE PREMIER LEAGUE LEAD</p>-->
    @*<p class="card-text"><small class="text-muted"></small></p>*@
    <!--<a href="https://www.eurosport.com/football/premier-league/2021-2022/norwich-v-manchester-city-follow-live_sto8781498/story.shtml">
                        Know More
                    </a>
                </div>
            </div>
        </div>
    </div>-->
</div>
