
@{
    ViewData["Title"] = "Football";
}

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="call-to-action section-sm bg-1 overly" style="background-color: lightgrey">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Football</h2>
                <p>Football is the most popular game in the world</p>
                @*<a href="#" class="btn btn-main">Start a project with us</a>*@
            </div>
        </div> 		<!-- End row -->
    </div>   	<!-- End container -->
</section>   <!-- End section -->

<div class="container">
    <h3 class="text-center p-3">Latest Updates</h3>
</div>
<div class="container mt-1">
    <div class="card mb-1">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="~/img/f1.png" class="img-fluid" alt="...">
            </div>
            <div class="col-md-8 align-content-lg-start">
                <div class="card-body">
                    <h5 class="card-title text-muted">PREMIER LEAGUE</h5>
                    <p class="card-text font-weight-bold">KLOPP:FABINHO FIRES VISIORS TO VICTORY OVER SEAN DYCHE'S SIDE IN THE RAIN AND WIND</p>
                    @*<p class="card-text"><small class="text-muted"></small></p>*@
                    <a href="https://www.eurosport.com/football/premier-league/2021-2022/burnley-v-liverpool-follow-live_sto8781529/story.shtml">
                        Know More
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-1">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="~/img/f2.png" class="img-fluid" alt="...">
            </div>
            <div class="col-md-8 align-content-lg-start">
                <div class="card-body">
                    <h5 class="card-title text-muted">BUNDESLIGA</h5>
                    <p class="card-text font-weight-bold">UNION BERLIN 0-3 BORUSSIA DORTMUND: MARCO REUS BRACE HELPS DORTMUND CRUISE TO WIN AT UNION</p>
                    @*<p class="card-text"><small class="text-muted"></small></p>*@
                    <a href="https://www.eurosport.com/football/bundesliga/2021-2022/union-berlin-v-borussia-dortmund-follow-live_sto8781540/story.shtml">
                        Know More
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-1">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="~/img/f3.png" class="img-fluid" alt="...">
            </div>
            <div class="col-md-8 align-content-lg-start">
                <div class="card-body">
                    <h5 class="card-title text-muted">SERIES A</h5>
                    <p class="card-text font-weight-bold">AC MILAN 1-0 SAMPDORIA: RAFAEL LEAO'S FIRST-HALF STRIKE SENDS HOSTS TOP OF THE SERIE A TABLE</p>
                    @*<p class="card-text"><small class="text-muted"></small></p>*@
                    <a href="https://www.eurosport.com/football/serie-a/2021-2022/ac-milan-1-0-sampdoria-rafael-leao-s-first-half-strike-sends-hosts-top-of-the-serie-a-table_sto8781525/story.shtml">
                        Know More
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-1">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="~/img/F4.png" class="img-fluid" alt="...">
            </div>
            <div class="col-md-8 align-content-lg-start">
                <div class="card-body">
                    <h5 class="card-title text-muted">BARCLAYS FA WSL</h5>
                    <p class="card-text font-weight-bold">WSL ROUND-UP: MANCHESTER CITY TRIUMPH OVER MANCHESTER UNITED IN THE DERBY, ASTON VILLA WIN AT EVERTON</p>
                    @*<p class="card-text"><small class="text-muted"></small></p>*@
                    <a href="https://www.eurosport.com/football/barclays-fa-wsl/2021-2022/wsl-round-up-manchester-city-triumph-over-manchester-united-in-the-derby-aston-villa-win-at-everton_sto8787443/story.shtml">
                        Know More
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="card mb-1">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="~/img/f1.png" class="img-fluid" alt="...">
            </div>
            <div class="col-md-8 align-content-lg-start">
                <div class="card-body">
                    <h5 class="card-title">TRANSFER</h5>
                    <p class="card-text font-weight-bold">REAL MADRID TARGETING ERLING HAALAND DESPITE MONEY PROBLEMS AMID BARCELONA INTEREST - PAPER ROUND</p>
                    @*<p class="card-text"><small class="text-muted"></small></p>*@
                    <a href="https://www.eurosport.com/football/transfers/2021-2022/real-madrid-targeting-erling-haaland-despite-money-problems-amid-barcelona-interest-paper-round_sto8785256/story.shtml">
                        Know More
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-1">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="~/img/f5.png" class="img-fluid" alt="...">
            </div>
            <div class="col-md-8 align-content-lg-start">
                <div class="card-body">
                    <h5 class="card-title text-muted">PREMIER LEAGUE</h5>
                    <p class="card-text font-weight-bold">KLOPP:FABINHO FIRES VISITORS TO VICTORY OVER SEAN DYCHE'S SIDE IN THE RAIN AND WIND</p>
                    @*<p class="card-text"><small class="text-muted"></small></p>*@
                    <a href="https://www.eurosport.com/football/premier-league/2021-2022/burnley-v-liverpool-follow-live_sto8781529/story.shtml">
                        Know More
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-1">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="~/img/f6.png" class="img-fluid" alt="...">
            </div>
            <div class="col-md-8 align-content-lg-start">
                <div class="card-body">
                    <h5 class="card-title">PREMIER LEAGUE</h5>
                    <p class="card-text font-weight-bold">NORWICH 0-4 MANCHESTER CITY: REHEEM STERLING NETS HAT-TRICK AS CITY SWEEP CANARIES ASIDE TO RESTORE PREMIER LEAGUE LEAD</p>
                    @*<p class="card-text"><small class="text-muted"></small></p>*@
                    <a href="https://www.eurosport.com/football/premier-league/2021-2022/norwich-v-manchester-city-follow-live_sto8781498/story.shtml">
                        Know More
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

