<head>
    <meta charset="UTF-8">

    <title> Image Gallery </title>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/lightbox.min.css">
    <script type="text/javascript" src="~/js/lightbox-plus-jquery.min.js"></script>
</head>

<body>
    <div class="Gallery-g">
    <h1>Gallery</h1>
    <div class="gallery">


        <a href="~/img/b-1.jpg" data-lightbox="mygallery"><img src="~/img/b-1.jpg"></a>
        <a href="~/img/f-1.jpg" data-lightbox="mygallery"><img src="~/img/f-1.jpg"></a>
        <a href="~/img/t-1.jpg" data-lightbox="mygallery"><img src="~/img/t-1.jpg"></a>
        <a href="~/img/b-2.jpg" data-lightbox="mygallery"><img src="~/img/b-2.jpg"></a>
        <a href="~/img/c-2.jpg" data-lightbox="mygallery"><img src="~/img/c-2.jpg"></a>
        <a href="~/img/f-2.jpg" data-lightbox="mygallery"><img src="~/img/f-2.jpg"></a>
        <a href="~/img/t-2.jpg" data-lightbox="mygallery"> <img src="~/img/t-2.jpg"></a>
        <a href="~/img/c-1.jpg" data-lightbox="mygallery"><img src="~/img/c-1.jpg"></a>
        @*  <a href="~/img/b-5.jpg" data-lightbox="mygallery"><img src="~/img/b-5.jpg"></a> *@
        <a href="~/img/c-4.jpg" data-lightbox="mygallery"><img src="~/img/c-4.jpg"></a>
        <a href="~/img/f-3.jpg" data-lightbox="mygallery"><img src="~/img/f-3.jpg"></a>
        <a href="~/img/t-3.jpg" data-lightbox="mygallery"><img src="~/img/t-3.jpg"></a>
        <a href="~/img/f-4.jpg" data-lightbox="mygallery"> <img src="~/img/f-4.jpg"></a>
        <a href="~/img/b-3.jpg" data-lightbox="mygallery"><img src="~/img/b-3.jpg"></a>
        <a href="~/img/c-4.jpg" data-lightbox="mygallery"><img src="~/img/c-4.jpg"></a>
    </div>
        </div>
</body>