@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<center>
    <style>
        h1,h5,h6,p,h2, h4 {
            color: #17202A;
        }
       
        h3 {
            color: #154360;
        }
    </style>

    <h1>International Cricket Page</h1>
    <img src="~/img/ind_2011_wcc.jpg" class="img-fluid" alt="Responsive image" style="height:50%">
    <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <center><h1 class="display-4">ICC Cricket</h1></center>
        <center>
            <h4 class="lead font-italic">
               Live Sports Website for Cricket- Live matches, scores, news, highlights, commentary, rankings, videos and fixtures from the International Cricket Council.
            </h4>
        </center>
    </div>
</div>

    @*<div class="card">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            <img class="card-img-bottom" src="..." alt="Card image cap">
        </div>*@

    <h1 class="text-center p-3">Live Scores</h1>

    <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/img/INDvdWIcricket.jpg" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">IND vs WI</h3>
                    <h4 class="card-title">INDIA won by 62 runs</h4>
                    <h5 class="card-title">INDIA  275/5(50)</h5>
                    <h5 class="card-title">West Indies  213(37.4)</h5>
                    @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    <a href="#" class="btn btn-primary">Watch Live</a>
                </div>
            </div>
        </div>
         <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/img/1001526-england-vs-new-zealand.jpg" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">ENG vs NZ</h3>
                    <h4 class="card-title">ENG won by 12 runs</h4>
                    <h5 class="card-title">England  287/5(48)</h5>
                    <h5 class="card-title">New zealand  275/7(50)</h5>
                    @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    <a href="#" class="btn btn-primary">Watch Live</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/img/SRIvsAUS.jpg" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">SRI vs AUS</h3>
                    <h4 class="card-title">SRI won by 35 runs</h4>
                    <h5 class="card-title">Srilanka  275/4(50)</h5>
                    <h5 class="card-title">Australia  240/8(50)</h5>
                    @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    <a href="#" class="btn btn-primary"> Watch Live</a>
                </div>
            </div>
        </div>

    </div>

    </div>
   

        @*<div class="column">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/img/SRIvsAUS.jpg" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">SRI vs AUS</h3>
                    <h4 class="card-title">SRI won by 62 runs</h4>
                    <h5 class="card-title">Srilanka  (275)</h5>
                    <h5 class="card-title">Australia  (213)</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary"> Watch Live</a>
                </div>
            </div>
        </div>*@

       
    <br /><br />

    <h1 class="text-center p-3">ICC Men's Team Ranking </h1><br />

    <div class="container">
          <div class="row">

        <div class="col-md-4">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/img/ODI-Team-Rankings.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">ICC ODI Ranking</h4>
                    <p class="card-text">Team &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ranking</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">1. Australia &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 119</li>
                    <li class="list-group-item">2. NewZealand &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   119</li>
                    <li class="list-group-item">3. INDIA &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      119</li>
                    <li class="list-group-item">4. England	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    101</li>
                    <li class="list-group-item">5. South Africa &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	 99</li>
                </ul>
                <div class="card-body">
                    @*<a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>*@
                    <a href="#" class="btn btn-primary">View Full Rankings</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/img/T20-Team-Rankings.jpg" alt="Card image cap">
                <div class="card-body">
                    @*<h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>*@

                    <h4 class="card-title">ICC T20-Team Ranking</h4>
                    <p class="card-text">Team &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ranking</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">1. England &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 119</li>
                    <li class="list-group-item">2. INDIA &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   119</li>
                    <li class="list-group-item">3. New Zealand &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      119</li>
                    <li class="list-group-item">4. South Africa	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    101</li>
                    <li class="list-group-item">5. Australia &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	 99</li>
                </ul>
                <div class="card-body">
                    @*<a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>*@
                    <a href="#" class="btn btn-primary">View Full Rankings</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/img/testranking.png" alt="Card image cap">
                <div class="card-body">
                    @*<h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>*@

                    <h4 class="card-title">ICC Test Team Ranking</h4>
                    <p class="card-text">Team &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ranking</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">1. Australia &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 119</li>
                    <li class="list-group-item">2. New Zealand &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   119</li>
                    <li class="list-group-item">3. INDIA &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      119</li>
                    <li class="list-group-item">4.  England	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    101</li>
                    <li class="list-group-item">5. South Africa &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	 99</li>
                </ul>
                <div class="card-body">
                    @*<a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>*@
                    <a href="#" class="btn btn-primary">View Full Rankings</a>
                </div>
            </div>
        </div>

    </div>
    </div>

  
    <br /><br />
    <h1 class="text-center p-3">ICC Women's Team Ranking </h1><br />

    <div class="container">
          <div class="row">

        <div class="col-md-4">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/img/ODI-Team-Rankings.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">ICC ODI Ranking</h4>
                    <p class="card-text">Team &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ranking</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">1. Australia &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 119</li>
                    <li class="list-group-item">2. NewZealand &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   119</li>
                    <li class="list-group-item">3. INDIA &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      119</li>
                    <li class="list-group-item">4. England	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    101</li>
                    <li class="list-group-item">5. South Africa &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	 99</li>
                </ul>
                <div class="card-body">
                    @*<a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>*@
                    <a href="#" class="btn btn-primary">View Full Rankings</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/img/T20-Team-Rankings.jpg" alt="Card image cap">
                <div class="card-body">
                    @*<h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>*@

                    <h4 class="card-title">ICC T20-Team Ranking</h4>
                    <p class="card-text">Team &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ranking</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">1. England &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 119</li>
                    <li class="list-group-item">2. INDIA &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   119</li>
                    <li class="list-group-item">3. New Zealand &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      119</li>
                    <li class="list-group-item">4. South Africa	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    101</li>
                    <li class="list-group-item">5. Australia &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	 99</li>
                </ul>
                <div class="card-body">
                    @*<a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>*@
                    <a href="#" class="btn btn-primary">View Full Rankings</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/img/testranking.png" alt="Card image cap">
                <div class="card-body">
                    @*<h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>*@

                    <h4 class="card-title">ICC Test Team Ranking</h4>
                    <p class="card-text">Team &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ranking</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">1. Australia &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 119</li>
                    <li class="list-group-item">2. New Zealand &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   119</li>
                    <li class="list-group-item">3. INDIA &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      119</li>
                    <li class="list-group-item">4. England	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    101</li>
                    <li class="list-group-item">5. South Africa &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	 99</li>
                </ul>
                <div class="card-body">
                    @*<a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>*@
                    <a href="#" class="btn btn-primary">View Full Rankings</a>
                </div>
            </div>
        </div>

    </div>
    </div>
  
    <br />


    <h1 style="text-align: center">Featured Videos</h1> <br />

    <div class="row">
        <div class="videocolumn">
            <iframe width="275" height="200" src="https://www.youtube.com/embed/F8tw0l37x5k" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="275" height="200" src="https://www.youtube.com/embed/F8tw0l37x5k" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="275" height="200" src="https://www.youtube.com/embed/F8tw0l37x5k" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="275" height="200" src="https://www.youtube.com/embed/F8tw0l37x5k" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="275" height="200" src="https://www.youtube.com/embed/F8tw0l37x5k" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="275" height="200" src="https://www.youtube.com/embed/F8tw0l37x5k" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="275" height="200" src="https://www.youtube.com/embed/F8tw0l37x5k" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="275" height="200" src="https://www.youtube.com/embed/F8tw0l37x5k" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        @*<div class="videocolumn">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/F8tw0l37x5k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/F8tw0l37x5k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/F8tw0l37x5k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/F8tw0l37x5k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/F8tw0l37x5k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="videocolumn">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/AD_iH_JZ-04" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Qxw9mbkKzUc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Qxw9mbkKzUc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Qxw9mbkKzUc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Qxw9mbkKzUc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>*@
    </div>


</center>