@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="col-md-6">
        <div class="container-fluid p-3">
            <div class="card bg-light">
                <div class="card-body mx-auto text-center">
                    <h4 class="card-title mt-3 text-center">Registration Form</h4>

                    <form action="#!">
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-user"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="firstname" placeholder="Enter Full Name">
                        </div>


                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            </div>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="firstname" placeholder="Enter Email">
                        </div>


                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-phone"></i>
                                </span>
                            </div>
                            <select class="custom-select" style="max-width:80px;">
                                <option>+91</option>
                                <option>+81</option>
                                <option>+92</option>
                            </select>
                            <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="firstname" placeholder="Enter Number" />

                        </div>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-unlock"></i>
                                </span>
                            </div>
                            <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="firstname" placeholder="Enter Password">
                        </div>


                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </div>
                            <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="firstname" placeholder="Confirm Password">
                        </div>
                        <button type="submit" class="btn btn-block btn-outline-success">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 p-3">
        <div id="accordion">
            <div class="card">
                <div class="card-header" role="tab" id="peterhead">
                    <h3 class="mb-0">
                        <a data-toggle="collapse" data-target="#peter">
                            Peter Pan <small>Chief Epicurious Officer</small>
                        </a>
                    </h3>
                </div>
                <div role="tabpanel" class="collapse show" id="peter" data-parent="#accordion">
                    <div class="card-body">
                        <p class="d-none d-sm-block">Our CEO, Peter, credits his hardworking East Asian immigrant parents who undertook the arduous journey to the shores of America with the intention of giving their children the best future. His mother's wizardy in the kitchen whipping up the tastiest dishes with whatever is available inexpensively at the supermarket, was his first inspiration to create the fusion cuisines for which <em>The Frying Pan</em> became well known. He brings his zeal for fusion cuisines to this restaurant, pioneering cross-cultural culinary connections.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="peterhead">
                    <h3 class="mb-0">
                        <a data-toggle="collapse" data-target="#peter1">
                            Peter Pan <small>Chief Epicurious Officer</small>
                        </a>
                    </h3>
                </div>
                <div role="tabpanel" class="accordion-collapse collapse show" id="peter1" data-parent="#accordion">
                    <div class="card-body">
                        <p class="d-none d-sm-block">Our CEO, Peter, credits his hardworking East Asian immigrant parents who undertook the arduous journey to the shores of America with the intention of giving their children the best future. His mother's wizardy in the kitchen whipping up the tastiest dishes with whatever is available inexpensively at the supermarket, was his first inspiration to create the fusion cuisines for which <em>The Frying Pan</em> became well known. He brings his zeal for fusion cuisines to this restaurant, pioneering cross-cultural culinary connections.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>