@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<pre>

</pre>
<div class="container">
    <div class="row">
         <div class="col-md-8">
          <p>INDIA VS WI, 1ST T20I</p>
          <h1 class="font-weight-bold">World Cup fine-tuning begins as the caravan moves to Eden</h1>
          <br />
          <img src="~/img/rohit-sharma-has-asked-his-pla.webp" class="img-fluid" alt="Responsive image">
          <pre></pre>
          <p class="p-3">
              "It was understood the guys will go through emotional ups and downs, about which team they are going to play (in the IPL). That was done the day before. Yesterday we had a great meeting and asked the players to focus on the colour blue."<br /><br />
              That was Rohit Sharma responding to the emotions the players felt having had huge paydays in the IPL auction ahead of the T20I series against West Indies. Ishan Kishan, Deepak Chahar, Harshal Patel, Shardul Thakur and Avesh Khan were picked at handsome sums to reward their past performances in the tournament. But Rohit was quick to stress to his players that "the IPL auction is done and dusted. Focus on the colour blue right now."<br /><br />
              With several key players either out injured or rested, India are looking to give enough game time to the fringe players to help them build for the ICC T20 World Cup in Australia later this year. However, Rohit acknowledged the team isn't looking to experiment a lot and the players have already been given clarity about the roles they are expected to play in the world tournament. From now on, the focus is set to be on execution and planning to right the wrongs of the last T20 World Cup.<br /><br />
              Batting let West Indies down in the ODI series but a condensed format not only gives the batters more freedom but also, in many ways, puts them in their comfort zone. West Indies sealed the five-match T20I series against England 3-2 to serve a reminder that they are always going to be serious contenders in the T20 format - despite their disastrous campaign in UAE. The side has had to deal with off-field issues - the controversy regarding dropping Odean Smith - but they still managed to find a complete performance just when it mattered.<br /><br />
              West Indies's 0-3 loss should necessarily mean they will be pushovers in the T20I series as well. West Indies, in the series against England, struck more sixes than the visitors but also found better ways to rotate the strikes and reduce the number of dot balls. That, in a way, was their way of moving away from the high-risk template but it was more about them finding ways to improve on the weakness that had been exposed in the T20 World Cup.
          </p>
         </div>

       <div class="col-md-4">
              <h3  class="text-center p-3">Latest News</h3>
               <div class="card bg-white text-white">
                      <img class="card-img" src="~/img/pollard.webp" alt="Card image" width="50%" height="50%">
                          <div class="card-img-overlay">
                              <a href="https://www.cricbuzz.com/cricket-news/121076/pollard-demands-consistency-as-west-indies-aim-to-better-execution" style="color:black">
                                    <p class="card-text">POLLARD DEMANDS CONSISTENCY AS WEST INDIES AIM TO BETTER EXECUTION</p>
                              </a>
                          </div>
                    </div>
                    <br />
                    <div class="card bg-white text-white">
                      <img class="card-img" src="~/img/3317631-67832888-2560-1440.webp" alt="Card image" width="50%" height="50%">
                          <div class="card-img-overlay">
                              <a href="https://www.eurosport.com/tennis/novak-djokovic-id-rather-miss-french-open-and-wimbledon-than-get-covid-vaccine-i-m-not-part-of-anti-_sto8792581/story.shtml" style="color:black">
                                    <p class="card-text">NOVAK DJOKOVIC: I’D RATHER MISS FRENCH OPEN AND WIMBLEDON THAN GET COVID VACCINE - I'M NOT PART OF ANTI-VAX MOVEMENT</p>
                              </a>
                          </div>
                    </div>
                    <br />
                    <div class="card bg-white text-dark">
                      <img class="card-img" src="~/img/ronaldo.webp" alt="Card image" width="50%" height="50%">
                          <div class="card-img-overlay">
                              <a href="https://www.eurosport.com/football/premier-league/2021-2022/ralf-rangnick-relishes-vital-win-after-manchester-united-survive-jekyll-and-hyde-display-to-beat-bri_sto8795127/story.shtml" style="color:black">
                                    <p class="card-text">RALF RANGNICK RELISHES 'VITAL' WIN AFTER MANCHESTER UNITED SURVIVE 'JEKYLL AND HYDE' DISPLAY TO BEAT BRIGHTON</p>
                              </a>
                          </div>
                    </div>
                    <br />
                    <div class="card bg-white text-dark">
                      <img class="card-img" src="~/img/mahmudul-hasan-joy-scored-his.webp" alt="Card image" width="50%" height="50%">
                          <div class="card-img-overlay">
                              <a href="https://www.cricbuzz.com/cricket-news/121079/can-mahmudul-hasan-cut-it-in-the-middle-order-in-odis" style="color:black">
                                   <p class="card-text">CAN MAHMUDUL HASAN CUT IT IN THE MIDDLE-ORDER IN ODIS?</p>
                              </a>
                          </div>
                    </div>
                    <br />
                      <div class="card bg-white text-dark">
                       <img class="card-img" src="~/img/mbappe.webp" alt="Card image" width="50%" height="50%">
                          <div class="card-img-overlay">
                              <a href="https://www.eurosport.com/football/champions-league/2021-2022/psg-v-real-madrid-follow-live_sto8791536/story.shtml" style="color:black">
                                   <p class="card-text">KYLIAN MBAPPE SCORES STUNNING LATE WINNER AS PSG EDGE REAL MADRID IN FIRST LEG AFTER LIONEL MESSI MISSES PENALTY</p>
                              </a>
                          </div>
                    </div>
                    <br />
                    <center>
                         <a href="https://www.eurosport.com/football/" class="btn btn-primary ">More News</a>
                    </center>
       </div>
    </div>
   </div>

