@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-fluid text-center p-4" style="font-size:x-large">
    <h3>Privacy Policy</h3>
</div>
<div class="container">
    <h3>Introduction</h3>
    <p class="text-justify">
        This Privacy Policy is a part of the Terms and Conditions
        and all terms defined in the Terms and Conditions have the same meaning used here in this Privacy Policy.
    </p>
    <p class="text-justify">
        This Privacy Policy statement shall apply to all users who visit and access LiveSport's website and mobile
        application (collectively referred to as "Website"). The users unconditionally agree that browsing the Website
        and/or using its services signifies their unconditional assent to this Privacy Policy.
    </p>
    <p class="text-justify">
        LiveSport respect the privacy of it's users and is committed to protect it in all respects. Any dispute with
        LiveSport over privacy matters are subject to this Privacy Policy read in conjunction with the Terms and Conditions.
        matters are subject to this Privacy Policy read in conjunction with the Terms and Conditions.
    </p>
    <div id="accordion">
        <div class="card">
            <div class="card-header" role="tab" id="peterhead">
                <h3 class="mb-0">
                    <a data-toggle="collapse" data-target="#peter">
                        Types of information we process and where it comes from
                    </a>
                </h3>
            </div>
            <div role="tabpanel" class="collapse show" id="peter" data-parent="#accordion">
                <div class="card-body">
                    <p class="d-none d-sm-block text-justify">
                        Information you've provided to us, including through our websites, applications
                        or products, or when you access our services through applications on websites operated
                        by other organisations.
                    </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="peterhead">
                <h3 class="mb-0">
                    <a data-toggle="collapse" data-target="#peter1">
                        How we use your information
                    </a>
                </h3>
            </div>
            <div role="tabpanel" class="accordion-collapse collapse show" id="peter1" data-parent="#accordion">
                <div class="card-body">
                    <p class="d-none d-sm-block text-justify">
                        The main purpose for which we process your personal data is so that we can provide you with
                        content, products and services, in accordance with the contract you have with us (this includes
                        where you have agreed to be part of a trial of our products and/or services). This includes
                        providing you with account management functionality (such as to update your contact information),
                        processing and collecting payments, customer support
                    </p>
                </div>
            </div>

        </div>
        <div class="card">
            <div class="card-header" role="tab" id="peterhead">
                <h3 class="mb-0">
                    <a data-toggle="collapse" data-target="#peter1">
                        How we share your information
                    </a>
                </h3>
            </div>
            <div role="tabpanel" class="accordion-collapse collapse show" id="peter1" data-parent="#accordion">
                <div class="card-body">
                    <p class="d-none d-sm-block text-justify">
                        We work with a number of suppliers and partners to process your personal data for the purposes
                        described above. Where these suppliers and partners act on our behalf they must only process your
                        personal data in accordance with our instructions.
                    </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="peterhead">
                <h3 class="mb-0">
                    <a data-toggle="collapse" data-target="#peter1">
                        How long we keep your information
                    </a>
                </h3>
            </div>
            <div role="tabpanel" class="accordion-collapse collapse show" id="peter1" data-parent="#accordion">
                <div class="card-body">
                    <p class="d-none d-sm-block text-justify">
                        These records are retained securely for up to 7 years after your account is cancelled. 
                        After this time they will either be securely deleted or anonymised.Some categories of 
                        data are deleted sooner where the data is no longer needed for the purposes for which 
                        it was collected (such as where we have recorded calls, these are retained for 12 months). 
                        Please read the 'Keeping your data up to date and your rights' section above to understand 
                        how to get in touch to discuss a right to erasure request.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>