/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
/*----------Dark Mode------------------*/
[data-theme="dark"] {
    background-color: #111 !important;
    color: #eee;
}

    [data-theme="dark"] .bg-light {
        background-color: #333 !important;
    }

    [data-theme="dark"] .bg-white {
        background-color: #000 !important;
    }

    [data-theme="dark"] .bg-black {
        background-color: #eee !important;
    }
/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*.column {
    float: left;
    width: 27%;
    height: 300px;
}

p {
    font-size: 20px;
    font-weight: bold;
}*/


.footer-dark {
    padding: 50px 0;
    color: #f0f9ff;
    background-color: #282d32;
}

    .footer-dark h3 {
        margin-top: 0;
        margin-bottom: 12px;
        font-weight: bold;
        font-size: 16px;
    }

    .footer-dark ul {
        padding: 0;
        list-style: none;
        line-height: 1.6;
        font-size: 14px;
        margin-bottom: 0;
    }

        .footer-dark ul a {
            color: inherit;
            text-decoration: none;
            opacity: 0.6;
        }

            .footer-dark ul a:hover {
                opacity: 0.8;
            }

@media (max-width:767px) {
    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }
}

.footer-dark .item.text {
    margin-bottom: 36px;
}

@media (max-width:767px) {
    .footer-dark .item.text {
        margin-bottom: 0;
    }
}

.footer-dark .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
}

.footer-dark .item.social {
    text-align: center;
}

@media (max-width:991px) {
    .footer-dark .item.social {
        text-align: center;
        margin-top: 20px;
    }
}

.footer-dark .item.social > a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255,255,255,0.4);
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
}

    .footer-dark .item.social > a:hover {
        opacity: 0.9;
    }

.footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}

.img-jumbo {
    background-size: 100%;
    background-color: black;
   
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}
.videocolumn {
    float: left;
    width: 20px;
    padding: 5px;
    flex: 20%;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
iframe{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* gallery*/
/*body {
    font-family: sans-serif;
}
.*/
.Gallery-g h1 {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 5px 20px;
    font-family: sans-serif;
    margin: 30px 0 50px;
   
}

.gallery {
    margin: 10px 50px;
    height: 90vh;
    max-width: 90vw;
}

    .gallery img {
        width: 230px;
        padding: 5px;
        filter: grayscale(100%);
        transition: 1s;
    }

        .gallery img:hover {
            filter: grayscale(0);
            transform: scale(1.1);
        }

#lightbox-container-image-box {
    max-width: 80%;
    height: 100% !important;
}

#lightbox-container-image img {
    max-width: 100%;
}

#lightbox-container-image-data-box {
    max-width: 80%;
    margin-bottom: 50px;
}